<header>
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 mb-3">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
          <div class="w-full relative flex justify-between items-center lg:w-auto  px-4">
            <img [routerLink]="['/home']" src="/assets/logo.png" class="object-scale-down h-28 cursor-pointer"/>
            <a [routerLink]="['/home']" class="text-2xl font-semibold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap hover:opacity-60 hidden lg:block">
              MarketMate
            </a>
            <button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
              <fa-icon [icon]="faBars"/>
            </button>
          </div>
          <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
            <ul class="flex flex-col lg:flex-row lg:items-center ml-auto">
              <div *ngIf="(authService.isLoggedIn | async); else loginTemplate" class="flex">
                <li class="nav-item">
                  <a class="px-3 py-2 flex items-center text-lg uppercase font-semibold leading-snug hover:opacity-60 cursor-pointer" (click)="logout()">
                    Logout
                  </a>
                </li>
                <li class="nav-item" [routerLink]="['/manage']">
                  <a class="px-3 py-2 flex items-center text-lg uppercase font-semibold leading-snug hover:opacity-60">
                    Manage
                  </a>
                </li>
              </div>
              <ng-template #loginTemplate>
                <li class="nav-item">
                  <a [routerLink]="['/auth/login']" class="px-3 py-2 flex items-center text-lg uppercase font-semibold leading-snug hover:opacity-60">
                    Login
                  </a>
                </li>
              </ng-template>
              <li class="nav-item">
                <a routerLink="/shops" class="px-3 py-2 flex items-center text-lg uppercase font-semibold leading-snug hover:opacity-60">
                  Shops
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/delivery" class="px-3 py-2 flex items-center text-lg uppercase font-semibold leading-snug hover:opacity-60">
                    Delivery
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
